<div [class.checked]="item.checked === true">
  <span class='form-group'>
      <span class='btn-check' [class.checked]="item.checked" (click)='toggleChecked()'><i class='fa fa-check'></i></span>
      <input 
      type='text'
      class='form-control'
      [(ngModel)]="item.title"
      (change)="updateItem()"
      placeholder="Novo item"
      [disabled]="item.checked === true">
  </span>  
  <button class='btn btn-outline-danger btn-remove' (click)="removeItem()"><i class='fa fa-trash-o'></i></button>
</div>