footer {
  position: fixed;
  bottom: 0;
  background-color: #343a3f;
  min-width: 100vw;
  padding: 0 20px;
}

.footer {
  border-top: solid 1px white;
  padding: 15px 10px;
}

.footer-info {
  margin-left: auto;
  color: #fff;
}

.footer-info p {
  font-weight: bold;
}