div {
  background-color: rgb(236,236,236);
  padding: 10px;
  margin: 10px;
  padding-left: 0;
  margin-left: 5px;
  width: 100%;
  border-radius: 8px;
}

input {
  border: none;
  background-color: transparent;
}

div.checked input{
  text-decoration-line: line-through;
  color: #2196F3;
}

input[type='checkbox'] {
  margin: 0 5px;
}

input[type='text'] {
  width: calc(100% - 90px);
  display: inline-block;
  margin-right: 5px;
  font-size: 1.5rem;
  transition: color  0.2s ease-in-out;
  transition: text-decoration-line 0.2s ease-in-out;
}

input:focus {
  outline: none;
  background-color: transparent;
}

.btn-remove {
  border-radius: 50%;
  margin-bottom: 5px;
}

.btn-check {
  font-size: 1.5rem;
  padding: 5px;
  margin: 0 5px;
  border-radius: 50%;
  border: solid 1px #aaa;
  color: #aaa;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-check.checked { 
  border-color: #2196F3;
  color: #2196F3;
}

.btn-check:hover {
  background-color: #aaa;
  color: rgb(236, 236, 236);
}