div {
  background-color: rgb(236,236,236);
  padding: 10px;
  margin: 10px;
  padding-left: 0;
  margin-left: 5px;
  width: 100%;
}

input {
  border: none;
  background-color: transparent;
}

div.checked input{
  text-decoration-line: line-through;
}

input[type='checkbox'] {
  margin: 0 5px;
}

input[type='text'] {
  width: calc(100% - 23px);
}

input:focus {
  outline: none;
}